<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title style="background-color:powderblue;">Basketball Team Signup</title>
 </head>
 <body>
 <form class="" action="/team" method="post">
 <label for="team-name">Team Name:</label>
 <input type="text" name="name" placeholder="?" id="team-name">
 <label for="coach">Coach:</label>
 <input type="text" name="coach" id="coach">
 <label for="point-guard">Point Guard:</label>
 <input type="text" name='pg' id='point-guard'>
 <label for="shooting-guard">Shooting Guard:</label>
 <input type="text" name='sg' id='shooting-guard'>
 <label for="small-forward">Small Forward:</label>
 <input type="text" name='sf' id='small-forward'>
 <label for="power-forward">Power Forward:</label>
 <input type="text" name='pf' id="power-forward">
 <label for="center">Center:</label>
 <input type="text" name='c' id='center'>
 <input type="submit" value="Submit" id="submit">
 </form> 
 </body>
</html>


