<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form action="/newteam" method="POST">
      <label for="team_name">Team Name: </label><input type="text" name="name"><br><br>
      <label for="coach">Coach: </label><input type="text" name="coach"><br><br>
      <label for="point_guard">Point Guard: </label><input type="text" name="pg"><br><br>
      <label for="shooting_guard">Shooting Guard: </label><input type="text" name="sg"><br><br>
      <label for="small_forward">Small Forward: </label><input type="text" name="sf"><br><br>
      <label for="power_forward">Power Forward: </label><input type="text" name="pf"><br><br>
      <label for="center">Center: </label><input type="text" name="c"><br><br>
      <input type="submit" value="Submit">
    </form> 
 </body>
</html>


